[project]
	description = Review the Redfish schema and provide comments that can be incorporated into the standard.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/iamrhari
[access "refs/for/refs/*"]
	read = group user/iamrhari
	push = group user/iamrhari
	label-Code-Review = -2..+2 group user/iamrhari
	label-Verified = -1..+1 group user/iamrhari
	rebase = group user/iamrhari
	removeReviewer = group user/iamrhari
	submit = group user/iamrhari
[access "refs/heads/*"]
	read = group user/iamrhari
	create = group user/iamrhari
	push = +force group user/iamrhari
	pushMerge = group user/iamrhari
[access "refs/tags/*"]
	push = +force group user/iamrhari
	pushTag = group user/iamrhari
	pushSignedTag = group user/iamrhari
